
@font-face{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('webfonts/Helvetica.woff') format('woff');

}

body{
    background-color: hsl(330, 100%, 98%);
    font-weight: normal;
    padding: 0;
    margin: 0 auto 0 auto;
    color: #665544;
}

h1{
    font-family: "Young serif";
    font-weight: normal;
    color: hsl(24, 5%, 18%);
}

.container{
    min-width: 37%;
    max-width: 60%;
    border-radius: 10px;
    padding: 25px;
    
    background-color: white;
    margin: 10px auto 10px auto;
}

img{
    max-width: 100%;
    height: auto;
}

h2{
    font-weight: normal;
    color:hsl(14, 45%, 36%);
    font-family: "Young serif";
    position: relative;
    top: 1.2em;
}

b{
    text-transform: capitalize;
    color: hsl(30, 10%, 34%);
}

#pre{
    position:relative;
    left: 20px;
    color: hsl(15, 86%, 17%);
    margin-bottom: 0px;
    font-family: Outfit Light;
    font-weight: bold;
}
#time{
    margin-top: 0px;
    margin-left: 40px;
}

table{
    width: 100%;
    border-spacing: 0;
}

th,td{
    padding: 15px;
    font-size: 15px;
    border-bottom: thin solid hsl(30, 18%, 87%);
}

th{
    color: hsl(14, 45%, 36%);
    font-family: Outfit SemiBold;
    font-weight: bold;
    text-align: left;
}

p{
    font-family: Outfit;
    font-size: 16px;
}

ol>li,ul>li{
    margin-top: 10px;
    font-family: Outfit;
    width: 100%;
}

ol,ul{
    border-bottom: thin solid hsl(30, 18%, 87%);
    padding: 25px;
}

#prepar{
    background-color: hsl(330, 100%, 98%);
    width: 100%;
    padding: 15px auto 0px auto;
}

td{
    font-family: Outfit;
    text-transform: capitalize;
}

#nut{
    margin-bottom: 1.35em;
}